<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/
jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $("td:contains('{{ keyword }}')").css("background-color","LightBlue");

        })
    </script>

<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>


<body>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }
    </style>

    <h1>Accept/Reject A Trade </h1>
    <h2>{{msg}}</h2>
    <div id="data-table">

        <!-- Method 1: Rendering table with DataFrame -->
        <!-- {% for table in tables %}
            {{ table|safe }}
        {% endfor %} -->


        <!-- Method 2: Rendering table with Python LIST data structure. By doing this, we can insert a button that links to the details of the object -->
        <form class="form-inline" method="POST" action="itemdetails/{{item_no}}"></form>
            <div class="form-group">
                <div class="input-group">
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Desired Item</th>
                            <th>Proposer</th>
                            <th>Rank</th>
                            <th>Distance</th>
                            <th>Proposed Item</th>
                            <th></th>
                            </tr>
                        <tr>
                            {% for item in search_results_list %}
                            <td>{{item[2]}}</td>
                            <td class="item_no">
                                <a href="/itemdetails/{{item[0]}} " class="item_no" tabindex="-1" role="button"
                                   aria-disabled="true">{{item[3]}}</a>
                            </td>
                            <td>{{item[4]}}</td>
                            <td>{{item[10]}}</td>

                            <td>{{item[11]}}</td>
                            <td class="item_no">
                                <a href="/itemdetails/{{item[1]}}" class="item_no" tabindex="-1" role="button"
                                   aria-disabled="true">{{item[5]}}</a>
                            </td>
                            <form method="post">
                            <td><button id="accept_button" name="accept_button" class = "button" type="submit">ACCEPT</button>
                                <button id="reject_button" name="reject_button" class = "button" type="submit">REJECT</button>
                            </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </form>

    </div>
</body>
</html>