
<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>
    <head>
        <meta charset="UTF-8">
        <title> Sign In </title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Login</h1>
             </div></br></br></br>
            <h2 class="word">
                <form id="form-login" action="/api/login" method="post">
                   <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Email/Nickname" class="textbox"/></br></br>
                    <input id="password" name="password" type="password" placeholder="Password" class="textbox"/></br></br></br>
                    <input type="submit" class="btn" value="Sign In"></br></br>
                </form>
            </h2>
            <p class="bottom">New User?  <a class="bottom" href="register"> Register here</a></p>
          </div>
        </div>
    </body>
</html>

<script>
document.querySelector('#form-login').addEventListener("login", async function (e) {
    e.preventDefault()
    console.log(new URLSearchParams(new FormData(e.target)).toString())
    const res = await fetch("/api/login", {
        body: new URLSearchParams(new FormData(e.target)).toString(),
        method: "POST",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        }
    })
    console.log(await res.json())
});
</script>