<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <title>My Items</title>
</head>
<style>
        table, th, td {
          border:1px solid black;
          text-align: center;
        }

</style>
<body>
<h3>Item counts</h2>
    <hr>
    <table>
        <tr>
            <th>Board Games</th>
            <th>Playing Card Games</th>
            <th>Computer Games</th>
            <th>Collectible Card Games</th>
            <th>Video Games</th>
            <th>Total</th>
        </tr>
        <tr>
            <td class="boardgamecount">{{ boardgamecount }}</td>
            <td class="playcardcount">{{ playcardcount }}</td>
            <td class="computergamecount">{{ computergamecount }}</td>
            <td class="collectcardgamecount">{{ collectcardgamecount }}</td>
            <td class="videogamecount">{{ videogamecount }}</td>
            <td class="totalcount">{{ totalcount }}</td>
        </tr>
    </table>

    <h3>My Items</h2>
        <hr>
        <table>
            <tr>
                <th>Item #</th>
                <th>Game type</th>
                <th>Title</th>
                <th>Condition</th>
                <th>Description</th>
                <th></th>
            </tr>

            {% for row in data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}

                {% for cell in row %}
                    {% if loop.index == 1 %}
                        <td class="item_no">
                            <a href="/itemdetails/{{ cell }}" class="item_no" tabindex="-1" role="button"
                               aria-disabled="true">Detail</a>
                        </td>
                    {%endif%}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

</body>

</html>