<!-- Store this code in 'proposetrade.html' file inside the 'templates' folder -->

<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Propose A Trade</h1>
                 <h2 class="word">Distance: {{ distance }}</h2>
             </div></br></br></br>
          </div>
        <h2 class="word">You are Proposing a trade for: </h2>
         <h2 class="word">Items to Trade: </h2>
        </div>
    {% for item in data %}
<tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    ...
</tr>
{% endfor %}
    </body>
</html>

<script>

document.querySelector('#form-register').addEventListener("register", async function (e) {
    e.preventDefault()
    console.log(new URLSearchParams(new FormData(e.target)).toString())
    const res = await fetch("/api/register", {
        body: new URLSearchParams(new FormData(e.target)).toString(),
        method: "POST",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        }
    })
    console.log(await res.json())
});
</script>