
<!-- Store this code in 'register.html' file inside the 'templates' folder -->
  
<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title>
        <link rel="stylesheet" href="static/style.css">              
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Register</h1>
             </div></br></br></br>
            <h2 class="word">
                <form id="form-register" action="/api/register" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="email" name="email" type="text" placeholder="Email" class="textbox"/></br></br>
                    <input id="password" name="password" type="password" placeholder="Password" class="textbox"/></br></br>
                    <input id="nickname" name="nickname" type="text" placeholder="Nickname" class="textbox"/></br></br>
                    <input id="firstname" name="firstname" type="text" placeholder="First Name" class="textbox"/></br></br>
                    <input id="lastname" name="lastname" type="text" placeholder="Last Name" class="textbox"/></br></br>
                    <input id="postalcode" name="postalcode" type="text" placeholder="Postal Code" class="textbox"/></br></br>
                    <input type="submit" class="btn" value="Register"></br>
                </form>
            </h2>
      
          </div>
        </div>
    </body>
</html>

<script> 
document.querySelector('#form-register').addEventListener("register", async function (e) {
    e.preventDefault()
    console.log(new URLSearchParams(new FormData(e.target)).toString())
    const res = await fetch("/api/register", {
        body: new URLSearchParams(new FormData(e.target)).toString(),
        method: "POST",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        }
    })
    console.log(await res.json())
});  
</script>
