<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/
jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $("td:contains('{{ keyword }}')").css("background-color","LightBlue");

        })
    </script>


</head>


<body>


    <h1>Trade Rejected!</h1>
    {% for item in search_results_list %}
    {% if loop.index == 1 %}
    <h2>{{msg}}</h2><br><br><br>
    {%endif%}
    {% endfor %}
    <form method="get" action="/mainmenu">
        <td><button id="accept_button" name="accept_button" class = "button" type="submit">OK</button></td>
    </form>

</body>
</html>