<html>
    <head>
        <meta charset="UTF-8">
        <title> Search </title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">{{ msg }}</h1>
             </div></br></br></br>

			<form id="form-search" action="/api/search" method="post">
			Search:<br />
			<input name="searchtype" type="radio" value="by_keyword"> By Keyword: <input type="text" name="keyword_search"><br />
			<input name="searchtype" type="radio" value="by_my_postalcode"> In my postal code<br />
			<input name="searchtype" type="radio" value="within_xmiles"> Within <input type="text" size=4 name="mile_search"> Miles of Me <br />
			<input name="searchtype" type="radio" value="by_postalcode"> In Postal Code: <input type="text" size=5 name="postalcode_search">
			<br><br>

			<input type="submit" name="SearchSubmit" value="Search">
			</form>

			</h2>

          </div>
        </div>
    </body>
</html>

<script>
document.querySelector('#form-search').addEventListener("search", async function (e) {
    e.preventDefault()
    console.log(new URLSearchParams(new FormData(e.target)).toString())
    const res = await fetch("/api/search", {
        body: new URLSearchParams(new FormData(e.target)).toString(),
        method: "POST",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        }
    })
    console.log(await res.json())
});
</script>